@media only screen and (min-width: 600px) {
	.regist-box {
		width: 40vw;
	}

}

body {
	font-family: 'Montserrat';
}

.navbar {
	background-color: rgb(214, 10, 10);


}

.navbar-nav .nav-item {

	font-weight: 600;
}

.navbar-nav .current {
	background-color: rgba(247, 59, 59, 0.842);
}


.container {
	background: white;
}


.daftar-link {
	color: red;
}

.daftar-link:hover {
	font-weight: bold;
	color: #333333;
}
